<div class="acc">
	<div class="acc-head">
		<p><img src="images/crown-rate.png" alt="crown"></p>
		<h1><span class="line"></span> Accommodation <span class="line"></span></h1>
	</div>
	<div class="acc-mid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room1.png" alt="room1">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>100</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>12 Bed Mix Dorm</p>
								<p>Group Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room2.png" alt="room2">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>200</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>10 Bed Female Dorm</p>
								<p>Girls Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room3.png" alt="room3">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>250</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>Double room with shared bathroom</p>
								<p>Friends Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room4.png" alt="room4">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>275</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>Room for 2-4 persons with shared bathroom</p>
								<p>Couple Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room5.png" alt="room5">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>300</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>Deluxe room for 2 persons</p>
								<p>Couple Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="room">
						<div class="img-room">
							<a href="#">
								<img src="images/room6.png" alt="room6">
								<div class="square"></div>
								<div class="info-room">
									<p>$</p>
									<p>325</p>
									<p>/night</p>
								</div>
							</a>
						</div>
						<div class="content-room">
								<p>Deluxe room for family</p>
								<p>Family Choice</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="long-term">
						<img src="images/pool.png" alt="pool">
						<div class="content-term">
							<p><img src="images/icon-house.png" alt="house"></p>
							<p>Long-term Residence</p>
							<p></p>
							<p>From $1000/month</p>
							<p><a href="#">Discover Now</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>