<div class="review">
	<div class="review-top">
		<p><img src="images/crown-rate.png" alt="crown"></p>
		<h1><span class="line"></span> Reviews <span class="line"></span></h1>
	</div>
	<div class="review-mid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<div class="review-video">
						<div class="video" >
							<img src="images/image-video.png" alt="video">
							<p><a href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent" class="youtube"><i class="fa fa-play" aria-hidden="true"></i></a></p>
						</div>
						<p class="client-name">Jeremy (Booking.com)</p>
						<p class="date">May 2015</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="review-comment">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 clear">
									<div class="comment-in">
										<div class="comment">
											<p>Duis nec elementum libero, non molestie libero. In eu risus gravida, ullamcorper urna vitae.</p>
										</div>
										<div class="info-client">
											<p class="client-name">Analia (Booking.com)</p>
											<p class="date">May 2015</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="comment-in">
										<div class="comment">
											<p>Duis nec elementum libero, non molestie libero.</p>
										</div>
										<div class="info-client">
											<p class="client-name">Anonymous at Hostelworld.com</p>
											<p class="date">May 2015</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 clear">
									<div class="comment-in">
										<div class="comment">
											<p>Duis nec elementum libero, non molestie libero. In eu risus gravida</p>
										</div>
										<div class="info-client">
											<p class="client-name">Sergey (Booking.com)</p>
											<p class="date">May 2015</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="comment-in">
										<div class="comment">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat.</p>
										</div>
										<div class="info-client">
											<p class="client-name">Elise (Agoda.com)</p>
											<p class="date">May 2015</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="all-review">
										<p><a href="#">All Reviews</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>