<div class="slider-index flexslider">
    <div class="slider-blackbox">
        <ul class="slides">
            <li>
                <img src="images/main-slider.png">
                <div class="slider-in">
                    <p>Book A Room</p>
                    <p>For Your Holiday & Business Trip</p>
                </div>
            </li>
            <li>
                <img src="images/main-slider.png">
                <div class="slider-in">
                    <p>Book A Room</p>
                    <p>For Your Holiday & Business Trip</p>
                </div>
            </li>
        </ul>
        <div class="slider-redbox">
        <div class="container">
                <div class="row">
                    <div class="redbox col-xs-12 col-sm-12 col-md-4">
                        <div class="slider-redbox-in arrive col-xs-12 col-sm-12 col-md-6">
                            <input type="text" id="datepicker1" placeholder="Arrive">
                        </div>
                        <div class="slider-redbox-in arrive col-xs-12 col-sm-12 col-md-6">
                            <input type="text" id="datepicker2" placeholder="Departure">
                        </div>
                    </div>
                    <div class="redbox col-xs-12 col-sm-12 col-md-4">
                        <div class="slider-redbox-in arrow col-xs-12 col-sm-12  col-md-4">
                            <select>
                                <option value="volvo">1 Room</option>
                                <option value="saab">2 Rooms</option>
                                <option value="saab">3 Rooms</option>
                                <option value="saab">4 Rooms</option>
                            </select>
                        </div>
                        <div class="slider-redbox-in arrow col-xs-12 col-sm-12 col-md-4">
                            <select>
                                <option value="volvo">0 Adult</option>
                                <option value="volvo">1 Adult</option>
                                <option value="volvo">2 Adults</option>
                                <option value="volvo">3 Adults</option>
                                <option value="volvo">4 Adults</option>
                                <option value="volvo">5 Adults</option>
                            </select>
                        </div>
                        <div class="slider-redbox-in arrow col-xs-12 col-sm-12 col-md-4">
                            <select>
                                <option value="volvo">0 Children</option>
                                <option value="volvo">1 Child</option>
                                <option value="volvo">2 Children</option>
                                <option value="volvo">3 Children</option>
                                <option value="volvo">4 Children</option>
                            </select>
                        </div>
                    </div>
                    <div class="redbox col-xs-6 col-sm-6 col-md-3">
                        <div class="slider-redbox-in">
                            <input type="submit" value="Check availability">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 