<div class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="info">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="logo-footer">
									<a href="#">
										<p><img src="images/logo.png" alt="logo"></p>
										<p>Miami</p>
										<p></p>
										<p>HOTEL</p>
									</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="email">
									<p>info@miamihotel.com</p>
									<p>+7 911 755 78 44</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="address">
									<p>Koningin Astrid Boulevard 462202 BE, Noordwijk, Netherlands</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="helpful">
						<h1>
							<span>Helpful Link</span>
						</h1>
						<ul>
							<li><a href="#">Rooms</a></li>
							<li><a href="#">Foods & Drinks</a></li>
							<li><a href="#">Beach Venues</a></li>
							<li><a href="#">Amenities</a></li>
							<li><a href="#">Meeting Rooms</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="contact helpful">
						<h1>
							<span>Get In Touch</span>
						</h1>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="contact-require">
									<p>Sign up here to receive interesting updates</p>
								</div>
							</div>
							<form action="" method="">
								<div class="col-xs-12 col-sm-12 col-md-12">
									<input type="text" placeholder="Your Name">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<input type="text" placeholder="Your Email">
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12">
									<input type="submit" value="Send">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="connect helpful">
						<h1><span>Get Connected</span></h1>
						<div class="icon-connect">
							<p class="content-connect">Duis nec elementum libero, non molestie libero.</p>
							<ul class="icon-in">
	                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	                            <li><a href="#"><i class="fa fa-vine" aria-hidden="true"></i></a></li>
	                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
	                        </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-mid">
		<p>&copy; Copyrights 2015 ThemeMove, Inc. All rights reserved.</p>
	</div>
</div>