<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="social-header">
                        <p>Booking: 11AM - 21PM</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vine" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="logo">
                        <a href="home.html">
                            <p><img src="images/logo.png" alt="logo"></p>
                            <p>Miami</p>
                            <p></p>
                            <p>HOTEL</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="header-mix">
                        <div class="select">
                            <div class="row">
                                <div class="col-sm-6 col-md-offset-6">
                                    <div class="row">
                                        <div class="money-in col-sm-6 col-md-6">
                                            <div class="money">
                                                <p>USD <i class="fa fa-angle-down" aria-hidden="true"></i></p>
                                                <div class="select-in">
                                                    <ul>
                                                        <li>
                                                            <p>USD</p>
                                                        </li>
                                                        <li>
                                                            <p>EUR</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="money-in col-sm-6 col-md-6">
                                            <div class="language">
                                                <p>English <i class="fa fa-angle-down" aria-hidden="true"></i></p>
                                                <div class="select-in">
                                                    <ul>
                                                        <li>
                                                            <p>English</p>
                                                        </li>
                                                        <li>
                                                            <p>Germany</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="phone-header">
                                    <p><i class="fa fa-phone" aria-hidden="true"></i> +7 911 755 78 44</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1 col-md-6">
                                        <div class="cart">
                                            <p><i class="fa fa-shopping-cart" aria-hidden="true"></i></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 col-md-6">
                                        <div class="cart search">
                                            <p><i class="fa fa-search" aria-hidden="true"></i></p>
                                            <div class="form-search ">
                                                <form action="" method="">
                                                    <input type="text" name="" placeholder="Search..." class="input-search">
                                                    <input type="submit" value="SEARCH" name="">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div id='cssmenu'>
            <ul>
                <li><a href='home.html'>Home</a></li>
                <li class='active'><a href='#'>FEATURES</a>
                    <ul>
                        <li><a href='#'>FEATURES 1</a>
                            <ul>
                                <li><a href='#'>Sub FEATURES</a></li>
                                <li><a href='#'>Sub FEATURES</a></li>
                            </ul>
                        </li>
                        <li><a href='#'>FEATURES 2</a>
                            <ul>
                                <li><a href='#'>Sub FEATURES</a></li>
                                <li><a href='#'>Sub FEATURES</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href='room.html'>ABOUT</a></li>
                <li><a href='05-room.html'>SERVICES</a></li>
                <li><a href='#'>SHOP</a></li>
                <li><a href='#'>NEWS</a></li>
                <li><a href='#'>CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>