<div class="col-md-12 col-sm-12 col-md-3">
				<div class="side-bar">
				<div class="clear"></div>
					<div class="search-bar">
						<form action="" method="">
							<div class="text-search">
								<input type="text" placeholder="Search by words">
								<div class="submit-search">
									<input type="submit" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="menu-bar">
						<ul>
							<li><a href="#">All Homepages</a></li>
							<li><a href="#">Catagories</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Featured</a></li>
							<li><a href="#">Joomla Base</a></li>
						</ul>
					</div>
					<div class="border-bar">
					</div>
					<div class="slider-popular">
						<h1>Popular Rooms</h1>
						<div class="owl-carousel2">
							<div class="item">
								<ul>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<p><img src="images/popular-room.png"></p>
											<p class="title-room">Deluxe Room for 2 persons</p>
											<div class="price-popular">
												<p>$</p>
												<p>100<span> / night</span></p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>