/*  PART
***********************/
/************************FONT*************************/
@font-face {
  font-family: lato-bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: lato-regular;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: playfair-display;
  src: url("../fonts/PlayfairDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: rozha-one;
  src: url("../fonts/RozhaOne-Regular.ttf") format("truetype");
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
/************************FOOTER*************************/
.footer {
  width: 100%;
  height: auto;
  background: #3f0303;
  padding-top: 55px;
  padding-bottom: 45px;
  padding-left: 0;
  padding-right: 0;
}
.info,
.helpful,
.contact,
.connect {
  padding-top: 20px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.footer h1 {
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  margin-left: none !important;
  margin-right: none !important;
}
.logo-footer {
  width: 100px;
  height: auto;
  background: none;
}
.logo-footer p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}
.logo-footer p:nth-child(2) {
  font-size: 31.15px;
  font-family: playfair-display;
  color: white;
}
.logo-footer p:nth-child(3) {
  width: 100%;
  height: 2px;
  background: #ee9b29;
}
.logo-footer p:last-child {
  font-size: 16px;
  font-family: rozha-one;
  color: white;
  text-align: center;
}
.email {
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
}
.email p,
.address p {
  font-size: 14px;
  font-family: lato-regular;
  color: #bbbbbb;
}
.helpful h1 {
  font-size: 20px;
  font-family: rozha-one;
  color: white;
  padding-top: none;
  padding-bottom: 10px;
  padding-left: none;
  padding-right: none;
}
.helpful h1 span {
  display: inline-block;
  position: relative;
}
.helpful h1 span::before {
  content: '';
  position: absolute;
  z-index: 99;
  bottom: -10px;
  left: 0;
  border-bottom: 1px solid #653535;
  width: 100%;
  height: auto;
  background: none;
}
.helpful h1 span::after {
  content: '';
  position: absolute;
  z-index: 99;
  bottom: -12px;
  left: 0;
  border-bottom: 1px solid #653535;
  width: 100%;
  height: auto;
  background: none;
}
.helpful ul {
  padding-top: 25px;
  padding-bottom: none;
  padding-left: 0;
  padding-right: 0;
}
.helpful ul li {
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: none;
  margin-right: none;
}
.helpful ul li a {
  font-size: 14px;
  font-family: lato-regular;
  color: #bbbbbb;
}
.contact-require p {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  font-size: 14px;
  font-family: lato-regular;
  color: #bbbbbb;
}
.contact input[type='text'] {
  width: 100%;
  height: 40px;
  background: white;
  margin-top: none;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
  padding-top: none;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: none;
  border: none;
  font-size: 14px;
  font-family: lato-regular;
  color: #878787;
}
.contact ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: lato-regular;
  color: #878787;
}
.contact input[type='submit'] {
  width: 110px;
  height: 50px;
  background: url('../images/arrow.png') no-repeat 80% 50%;
  border: none;
  font-size: 16px;
  font-family: lato-bold;
  color: white;
  background-color: #ee9b29;
}
.icon-connect p.content-connect {
  font-size: 14px;
  font-family: lato-regular;
  color: #bbbbbb;
  padding-top: 25px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
ul.icon-in {
  padding-top: 40px;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: none;
}
ul.icon-in li {
  float: left;
  margin-top: none;
  margin-bottom: none;
  margin-left: 0;
  margin-right: 27px;
}
ul.icon-in li a {
  font-size: 15px;
}
.footer-mid p {
  font-size: 15px;
  font-family: lato-regular;
  color: #bbbbbb;
  text-align: center;
  padding-top: 80px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
/************************FUNCTION*************************/
/************************HEADER*************************/
.header {
  width: 100%;
  height: auto;
  background: none;
  padding-top: 40px;
  padding-bottom: 13px;
  padding-left: none;
  padding-right: none;
}
.header-top {
  padding-top: none;
  padding-bottom: 45px;
  padding-left: none;
  padding-right: none;
  border-bottom: 1px solid #dddddd;
}
.social-header p {
  font-size: 16px;
  font-family: lato-regular;
  color: #878787;
}
.social-header ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.social-header ul li {
  float: left;
  margin-top: none;
  margin-bottom: none;
  margin-left: 0;
  margin-right: 30px;
}
.social-header ul li a i {
  font-size: 14.5px;
  color: #888888;
}
.logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
  background: none;
}
.logo p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}
.logo p:nth-child(2) {
  font-size: 31.15px;
  font-family: playfair-display;
  color: black;
}
.logo p:nth-child(3) {
  width: 100%;
  height: 2px;
  background: #be0c0c;
}
.logo p:last-child {
  font-size: 16px;
  font-family: rozha-one;
  color: black;
  text-align: center;
}
.money,
.language {
  float: left;
  position: relative;
  width: 60px;
  height: auto;
  background: none;
}
.money p,
.language p {
  font-size: 14.5px;
  font-family: lato-regular;
  color: #878787;
}
.money:hover .select-in,
.language:hover .select-in {
  display: block;
  cursor: pointer;
}
.select-in ul {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.select-in {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
}
.select-in ul li {
  border-top: 1px solid #878787;
  border-left: 1px solid #878787;
  border-right: 1px solid #878787;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  -webkit-transition: 0.35s;
}
.select-in ul li p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.select-in ul li:hover {
  cursor: pointer;
  background: #8d9696;
}
.select-in ul li:last-child {
  border-bottom: 1px solid #878787;
}
.select {
  padding-top: none;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
}
.phone-header p {
  font-size: 16px;
  font-family: lato-regular;
  color: #888888;
}
.cart p {
  font-size: 16px;
  color: #888888;
  cursor: pointer;
}
.search {
  position: relative;
}
.close-search {
  display: block!important;
}
.form-search {
  position: absolute;
  z-index: 99;
  top: 12px;
  right: 0;
  width: 250px;
  height: auto;
  background: none;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
.form-search input {
  float: left;
}
.form-search input[type='submit'] {
  width: 30%;
  height: 30px;
  background: #ee9b29;
  font-size: 16px;
  font-family: lato-bold;
  color: white;
  border: none;
}
.form-search input[type='text'] {
  width: 70%;
  height: 30px;
  background: white;
  font-size: 14px;
  font-family: lato-regular;
  color: #878787;
  padding-top: none;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: none;
  border: 1px solid #878787;
}
.header-mid {
  margin-top: 2px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  border-top: 1px solid #dddddd;
  padding-top: 13px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
input:focus,
select:focus {
  outline: none;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: table;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-family: rozha-one;
}
#cssmenu > ul > li:hover > a {
  color: black;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: black;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: black;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 9;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: white;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu ul ul li a,
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: black;
  }
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: black;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: black;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: black;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: black;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: black;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
/************************SIDE-BAR*************************/
.side-bar {
  width: 100%;
  height: auto;
  background: none;
}
.side-bar .text-search {
  position: relative;
}
.side-bar .text-search input[type='text'] {
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid #eeeeee;
  padding-top: none;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: none;
  font-size: 13px;
  font-family: lato-bold;
  color: #aaaaaa;
}
.side-bar .text-search .submit-search {
  position: absolute;
  z-index: 9;
  top: 15px;
  right: 15px;
}
.side-bar .text-search .submit-search input[type='submit'] {
  width: 14px;
  height: 14px;
  background: url('../images/search.png') no-repeat center;
  border: none;
}
.side-bar .menu-bar {
  margin-top: 12px;
  margin-bottom: 45px;
  margin-left: none;
  margin-right: none;
}
.side-bar .menu-bar ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.side-bar .menu-bar ul li {
  width: 100%;
  height: auto;
  background: #3f0303;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: none;
  padding-right: none;
}
.side-bar .menu-bar ul li a {
  font-size: 14px;
  font-family: lato-bold;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 90px;
}
.side-bar .menu-bar ul li:last-child {
  border-bottom: 1px solid #3f0303;
}
.side-bar .menu-bar ul li:hover {
  background-color: #ee9b29;
  border-bottom: 1px solid #ee9b29;
  transition: 0.35s;
}
.side-bar .border-bar {
  width: 100%;
  height: 3px;
  background: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.side-bar .slider-popular {
  margin-top: 20px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
}
.side-bar .slider-popular h1 {
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  font-family: rozha-one;
  color: black;
}
.side-bar .slider-popular ul {
  padding-top: none;
  padding-bottom: none;
  padding-left: 0;
  padding-right: none;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.side-bar .slider-popular ul li {
  border-bottom: 1px solid #eeeeee;
  margin-top: none;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
}
.side-bar .slider-popular ul li img {
  width: inherit;
  transform-style: inherit;
}
.side-bar .slider-popular ul li p:first-child {
  float: left;
}
.side-bar .slider-popular ul li p.title-room {
  padding-top: none;
  padding-bottom: none;
  padding-left: 70px;
  padding-right: none;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  font-size: 15px;
  font-family: rozha-one;
  color: black;
}
.side-bar .slider-popular ul li .price-popular {
  padding-top: none;
  padding-bottom: none;
  padding-left: 70px;
  padding-right: none;
}
.side-bar .slider-popular ul li .price-popular p:first-child {
  font-size: 18px;
  font-family: rozha-one;
  color: #a90a0a;
}
.side-bar .slider-popular ul li .price-popular p:last-child {
  font-size: 25px;
  font-family: rozha-one;
  color: #a90a0a;
}
.side-bar .slider-popular ul li .price-popular p:last-child span {
  font-size: 15px;
  font-family: lato-regular;
  color: #878787;
}
.side-bar .slider-popular ul li:last-child {
  border-bottom: none;
}
.clear {
  clear: both;
}
/************************REPONSIVE*************************/
@media (max-width: 1024px) {
  .social-header p {
    font-size: 15px;
  }
  .social-header ul li {
    margin-right: 12px;
  }
  .phone-header p {
    font-size: 15px;
  }
  ul.icon-in li {
    margin-right: 19px;
  }
  .content-term p:nth-child(2) {
    padding-top: 10px!important;
  }
  .sort .sort-by .cs-select {
    margin-left: 5px!important;
  }
}
@media (max-width: 768px) {
  .header-mid ul li {
    margin-right: 40px;
  }
  .select {
    padding-bottom: 0;
  }
  .slider-redbox {
    position: inherit!important;
  }
  .slider-redbox input[type='text'],
  .slider-redbox select {
    margin-top: none;
    margin-bottom: 10px;
    margin-left: none;
    margin-right: none;
  }
  .slider-redbox input[type='submit'] {
    margin-top: none;
    margin-bottom: none;
    margin-left: 15px;
    margin-right: none;
  }
}
@media (max-width: 480px) {
  .info-room5 .price-room {
    float: none!important;
  }
  span.line {
    display: none!important;
  }
  .slider-in p {
    font-size: 22px!important;
  }
  .social-header {
    transform: translateX(-80%);
    -webkit-transition: 0.35s;
    position: fixed;
    z-index: 999;
    top: 15px;
    left: 0;
    width: 70%;
    height: auto;
    background: url('../images/gear.gif') no-repeat right;
    background-color: white;
    border-radius: 0 10px 10px 0;
  }
  .social-header:hover {
    transform: translateX(0);
  }
  .header-mix {
    transform: translateX(-80%);
    -webkit-transition: 0.35s;
    position: fixed;
    z-index: 999;
    top: 70px;
    left: 0;
    width: 70%;
    height: auto;
    background: url('../images/gear.gif') no-repeat right;
    background-color: white;
    border-radius: 0 10px 10px 0;
  }
  .header-mix:hover {
    transform: translateX(0);
  }
  .header-mid ul {
    text-align: inherit;
    width: 100%;
    height: auto;
    background: white;
  }
  .header-mid ul li {
    display: inherit;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .content-term p:first-child {
    padding-top: 30px!important;
  }
  .content-term p:nth-child(2) {
    font-size: 25px!important;
    padding-bottom: 0!important;
  }
  .content-term p:nth-child(4) {
    padding-bottom: 20px!important;
  }
  .content-term p:last-child {
    height: 40px!important;
  }
  .content-term p:last-child a {
    padding-top: 6px!important;
  }
}
/************************BODY INDEX*************************/
/************************Accommondation Less*************************/
.acc {
  width: 100%;
  height: auto;
  background: none;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: none;
  padding-right: none;
}
.acc-head p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.acc-head h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: black;
  padding-top: none;
  padding-bottom: 50px;
  padding-left: none;
  padding-right: none;
}
.acc-head h1 span.line {
  width: 80px;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  vertical-align: middle;
}
.img-room {
  position: relative;
  display: block;
  overflow: hidden;
}
.square {
  width: 220px;
  height: 220px;
  background: #be0c0c;
  transform: rotateZ(120deg);
  position: absolute;
  z-index: 9;
  bottom: -70px;
  right: -150px;
}
.info-room {
  position: absolute;
  z-index: 99;
  bottom: 0;
  right: 0;
  width: 70px;
  height: auto;
  background: none;
}
.info-room p:first-child {
  font-size: 18px;
  font-family: rozha-one;
  color: white;
  float: left;
  padding-top: 8px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.info-room p:nth-child(2) {
  font-size: 34px;
  font-family: rozha-one;
  color: white;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.info-room p:last-child {
  font-size: 15px;
  font-family: rozha-one;
  color: white;
}
.img-room img {
  width: 100%;
}
.content-room p:first-child {
  font-size: 18px;
  font-family: rozha-one;
  color: black;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: none;
  padding-right: none;
}
.content-room p:nth-child(2) {
  font-size: 15px;
  font-family: lato-regular;
  color: #ee9b29;
  padding-top: none;
  padding-bottom: 15px;
  padding-left: none;
  padding-right: none;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.content-room p:last-child {
  font-size: 14px;
  font-family: lato-regular;
  color: #888888;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.room {
  margin-top: none;
  margin-bottom: 40px;
  margin-left: none;
  margin-right: none;
}
.long-term {
  position: relative;
}
.long-term > img {
  width: 100%;
}
.content-term {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}
.content-term p {
  text-align: center;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.content-term p:first-child {
  padding-top: 75px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.content-term p:nth-child(2) {
  padding-top: 65px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  font-size: 40px;
  font-family: rozha-one;
  color: white;
}
.content-term p:nth-child(3) {
  width: 85%;
  height: 3px;
  background: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.content-term p:nth-child(4) {
  font-size: 17px;
  font-family: lato-regular;
  color: white;
  padding-top: 18px;
  padding-bottom: 40px;
  padding-left: none;
  padding-right: none;
}
.content-term p:last-child {
  width: 160px;
  height: 50px;
  background: #ee9b29;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: lato-bold;
  color: white;
}
.content-term p:last-child a {
  display: block;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
/************************Rate Less*************************/
.rate {
  width: 100%;
  height: auto;
  background: url('../images/background-rate.png') no-repeat center;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: none;
  padding-right: none;
  background-size: cover;
  background-attachment: fixed;
}
.rate p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.rate h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: black;
  padding-top: none;
  padding-bottom: 50px;
  padding-left: none;
  padding-right: none;
}
.rate h1 span.line {
  width: 80px;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  vertical-align: middle;
}
.rate {
  width: 100%;
  height: auto;
  background: url('../images/background-rate.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.rate-mid p {
  font-size: 55px;
  font-family: rozha-one;
  color: black;
}
.gallery-button {
  width: 170px;
  height: 40px;
  background: #ee9b29;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-button p {
  text-align: center;
}
.gallery-button a {
  font-size: 16px;
  font-family: lato-bold;
  color: white;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: none;
  padding-right: none;
}
.gallery-button a:hover {
  color: white;
}
/************************Reviews Less*************************/
.review {
  width: 100%;
  height: auto;
  background: url('../images/background-rate.png') no-repeat center;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: none;
  padding-right: none;
  background-size: cover;
  background-attachment: fixed;
}
.review .review-top p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.review .review-top h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: black;
  padding-top: none;
  padding-bottom: 50px;
  padding-left: none;
  padding-right: none;
}
.review .review-top h1 span.line {
  width: 80px;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  vertical-align: middle;
}
.review-video {
  margin-top: none;
  margin-bottom: 35px;
  margin-left: none;
  margin-right: none;
}
.review-video img {
  width: 100%;
}
.review-video .video {
  position: relative;
}
.review-video .video p {
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 60px;
  font-family: Arial;
  color: white;
  text-align: center;
  line-height: 1.6;
  margin: auto;
}
.review-video .video p a {
  color: white;
}
.review-video .video p a:hover {
  color: white;
}
p.client-name {
  font-size: 16px;
  font-family: rozha-one;
  color: black;
  padding-top: 15px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
p.date {
  font-size: 14px;
  font-family: lato-regular;
  color: #eeb26f;
}
.comment {
  position: relative;
}
.comment p {
  width: 100%;
  height: auto;
  background: white;
  padding-top: 18px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
  border: 1px solid #dddddd;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.comment-in {
  margin-top: none;
  margin-bottom: 25px;
  margin-left: none;
  margin-right: none;
}
.comment::before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 0;
  background: none;
  display: block;
  border-style: solid;
  border-width: 21px 15px 0 0;
  border-color: #dddddd transparent transparent transparent ;
}
.comment::after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: -17px;
  left: 1px;
  width: 0;
  height: 0;
  background: none;
  display: block;
  border-style: solid;
  border-width: 21px 15px 0 0;
  border-color: #ffffff transparent transparent transparent ;
}
.clear {
  clear: both;
}
.all-review p {
  width: 50%;
  height: 50px;
  background: #ee9b29;
  text-align: center;
}
.all-review p a {
  font-size: 16px;
  font-family: lato-bold;
  color: white;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: none;
  padding-right: none;
}
/************************Service Less*************************/
.border {
  width: 100%;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.services {
  width: 100%;
  height: auto;
  background: none;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: none;
  padding-right: none;
}
.services p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.services h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: black;
  padding-top: none;
  padding-bottom: 50px;
  padding-left: none;
  padding-right: none;
}
.services h1 span.line {
  width: 80px;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  vertical-align: middle;
}
.services-into {
  position: relative;
}
.services-in {
  position: absolute;
  z-index: 99;
  bottom: 30px;
  left: 0;
  width: 95%;
  height: 90px;
  background: white;
}
.services-in h3 {
  font-size: 18px;
  font-family: rozha-one;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  padding-top: 15px;
  padding-bottom: none;
  padding-left: 100px;
  padding-right: none;
}
.services-in p:last-child {
  font-size: 14px;
  font-family: lato-regular;
  color: #888888;
  padding-top: none;
  padding-bottom: none;
  padding-left: 100px;
  padding-right: none;
  text-align: left;
}
.services-in p {
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.services-in p:first-child {
  float: left;
  background: #be0c0c;
  padding: 28px;
}
.owl-carousel .owl-item img {
  width: inherit;
  display: inherit!important;
}
.content-services {
  width: 100%;
  height: auto;
  background: #3f0303;
  padding-top: 60px;
  padding-bottom: 55px;
  padding-left: none;
  padding-right: none;
}
.content-services .wrap-content-services {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;
  background: none;
}
.content-services p {
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: white;
}
.content-services p span {
  color: #ed9a28;
}
.some-in {
  padding-top: 70px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.some-in p {
  text-align: center;
}
.some-in p:last-child {
  font-size: 18px;
  font-family: rozha-one;
  color: black;
  padding-top: 20px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
/************************SLIDER INDEX*************************/
.slider-index {
  width: 100%;
  height: auto;
  background: none;
  position: relative;
}
.slider-index ul {
  padding-top: none;
  padding-bottom: none;
  padding-left: 0;
  padding-right: none;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.slider-index ul li img {
  width: 100%;
}
.slider-index ul li {
  position: relative;
}
.slider-in {
  position: absolute;
  top: 35%;
  width: 100%;
}
.slider-in p {
  text-align: center;
  font-size: 48px;
  font-family: rozha-one;
  color: white;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  line-height: 1;
}
.slider-redbox {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: none;
  width: 100%;
  height: auto;
  background: #be0c0c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  opacity: 0.9;
}
.slider-redbox select {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  font-size: 15px;
  font-family: lato-regular;
  color: black;
  padding-top: none;
  padding-bottom: none;
  padding-left: 5px;
  padding-right: none;
}
.slider-redbox input[type='submit'] {
  width: 100%;
  height: 40px;
  background: #ee9b29;
  border: none;
  font-size: 16px;
  font-family: lato-bold;
  color: white;
}
.slider-redbox input[type='text'] {
  width: 100%;
  height: 40px;
  background: white;
  border: none;
  padding-top: none;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: none;
}
.slider-redbox ::-webkit-input-placeholder {
  font-size: 15px;
  color: black;
  font-family: lato-regular;
}
.redbox {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.arrive,
.arrow {
  position: relative;
}
.arrive::before {
  content: "\f073";
  font-family: "fontawesome";
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: white;
  z-index: 99;
}
.arrow::before {
  content: "\f107";
  font-family: "fontawesome";
  position: absolute;
  top: 10px;
  right: 22px;
  background-color: white;
  z-index: 99;
  width: 10px;
}
/************************BODY ROOM*************************/
/************************Sliders*************************/
.slider-room {
  width: 100%;
  height: auto;
  background: none;
}
.slider-room ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.slider-room ul li {
  position: relative;
}
.slider-room ul li .slider-content {
  width: 100%;
  height: auto;
  background: none;
  position: absolute;
  z-index: 99;
  top: 40%;
  left: none;
}
.slider-room ul li .slider-content p {
  text-align: center;
  font-size: 36px;
  font-family: rozha-one;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1;
}
.slider-room ul li .wrapper-room-slider {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  opacity: 0.5;
}
span.line {
  width: 80px;
  height: 3px;
  background: none;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: inline-block;
  vertical-align: middle;
}
.sort {
  width: 100%;
  height: auto;
  background: #a90a0a;
}
.sort ul {
  float: left;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: none;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.sort ul li {
  float: left;
}
.sort ul li a {
  font-size: 15px;
  font-family: lato-regular;
  color: white;
}
.sort ul li::after {
  content: "\f101";
  font-family: "fontawesome";
  padding-top: none;
  padding-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.sort ul li:last-child::after {
  content: '';
}
.sort .sort-by p {
  float: left;
  padding-top: 30px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
  font-size: 15px;
  font-family: lato-regular;
  color: white;
}
.sort .sort-by .cs-select {
  width: 60%;
  height: 35px;
  background: white;
  margin-top: 18px;
  margin-bottom: none;
  margin-left: 15px;
  margin-right: none;
  position: relative;
}
.sort .sort-by .cs-select span {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: none;
}
.sort .sort-by .cs-select .cs-placeholder {
  font-size: 14px;
  font-family: lato-regular;
  color: #aaaaaa;
}
.sort .sort-by .cs-select .cs-options span {
  padding-top: none;
  padding-bottom: none;
  padding-left: 15px;
  padding-right: 30px;
}
.sort .sort-by .cs-select .cs-options ul li {
  font-size: 14px;
  font-family: lato-regular;
  color: #aaaaaa;
}
/************************BODY ROOM - CONTENT*************************/
.content {
  width: 100%;
  height: auto;
  background: none;
  padding-top: 60px;
  padding-bottom: 120px;
  padding-left: none;
  padding-right: none;
}
.content .content-in {
  padding-top: none;
  padding-bottom: 60px;
  padding-left: none;
  padding-right: none;
}
.content .border-content {
  width: 100%;
  height: 3px;
  background: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.content .page-content {
  padding-top: 15px;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.content .page-content p {
  float: right;
  width: 35px;
  height: 35px;
  background: none;
  border: 1px solid #eeeeee;
  margin-top: none;
  margin-bottom: none;
  margin-left: 2px;
  margin-right: 0;
  text-align: center;
  cursor: pointer;
  line-height: 2.5;
}
/************************BODY ROOM*************************/
/************************CONTENT BODY ROOM*************************/
.shared-room {
  position: relative;
  overflow: hidden;
  display: block;
}
.shared-room .owl-controls {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  background: none;
}
.shared-room .owl-controls .owl-prev {
  transform: translateX(-40px);
  transition: 0.35s;
  display: inline;
  float: left;
  width: 35px;
  height: 35px;
  background: white;
}
.shared-room .owl-controls .owl-prev p {
  text-align: center;
  line-height: 2.5;
}
.shared-room .owl-controls .owl-next {
  transform: translateX(40px);
  transition: 0.35s;
  display: inline;
  float: right;
  width: 35px;
  height: 35px;
  background: white;
}
.shared-room .owl-controls .owl-next p {
  text-align: center;
  line-height: 2.5;
}
.shared-room:hover .owl-next {
  transform: translateX(-25px);
}
.shared-room:hover .owl-prev {
  transform: translateX(25px);
}
.info-room5 {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: none;
  padding-right: none;
  border-bottom: 1px solid #eeeeee;
}
.info-room5 .info-room5-in h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  font-size: 26px;
  font-family: rozha-one;
  color: black;
}
.info-room5 .info-room5-in p {
  font-size: 15px;
  font-family: lato-regular;
  color: #ed9a28;
}
.info-room5 .price-room {
  float: right;
}
.info-room5 .price-room p {
  float: left;
}
.info-room5 .price-room p:first-child {
  font-size: 28px;
  font-family: rozha-one;
  color: #a90a0a;
  line-height: 2;
}
.info-room5 .price-room p:last-child {
  line-height: 1;
  font-size: 54px;
  font-family: rozha-one;
  color: #a90a0a;
}
.info-room5 .price-room p:last-child span {
  font-size: 15px;
  font-family: lato-regular;
  color: #878787;
}
.content-room5 {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: none;
  padding-right: none;
}
.content-room5 p {
  font-size: 14px;
  font-family: lato-regular;
  color: #878787;
}
.service-room5 {
  width: 100%;
  height: auto;
  background: #fcfcfc;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: none;
  padding-right: none;
  position: relative;
  overflow: hidden;
  display: block;
}
.service-room5 .item {
  padding-top: none;
  padding-bottom: none;
  padding-left: 30px;
  padding-right: 30px;
}
.service-room5 img {
  width: inherit!important;
  transform-style: inherit!important;
  margin: 0 auto;
}
.service-room5 p {
  text-align: center;
  line-height: 3;
  font-size: 15px;
  font-family: rozha-one;
  color: black;
}
.service-room5 .owl-controls {
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background: none;
}
.service-room5 .owl-controls .owl-prev {
  transform: translateX(-40px);
  transition: 0.35s;
  display: inline;
  float: left;
  width: 35px;
  height: 35px;
  background: none;
  border: 1px solid #dddddd;
}
.service-room5 .owl-controls .owl-prev p {
  text-align: center;
  line-height: 2.5;
}
.service-room5 .owl-controls .owl-next {
  transform: translateX(40px);
  transition: 0.35s;
  display: inline;
  float: right;
  width: 35px;
  height: 35px;
  background: none;
  border: 1px solid #dddddd;
}
.service-room5 .owl-controls .owl-next p {
  text-align: center;
  line-height: 2.5;
}
.service-room5:hover .owl-next {
  transform: translateX(-20px);
}
.service-room5:hover .owl-prev {
  transform: translateX(20px);
}
.booking-room5 {
  width: 160px;
  height: 50px;
  background: url('../images/arrow.png') no-repeat 135px 15px;
  background-color: #ee9b29;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: none;
  margin-right: none;
}
.booking-room5 a {
  font-size: 16px;
  font-family: lato-bold;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: none;
  padding-right: none;
  display: block;
}
.booking-room5 a:hover {
  font-size: 16px;
  font-family: lato-bold;
  color: white;
}
