/************************BODY ROOM - CONTENT*************************/
.content{
	.size(100%, auto, none);
	.padding(60px, 120px, none, none);
	.content-in{
		.padding(none, 60px, none, none);
	}
	.border-content{
		.size(100%, 3px, none);
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}
	.page-content{
		.padding(15px, none, none, none);
		p{
			.float(right);
			.size(35px, 35px, none);
			.border(1px, solid, #eeeeee);
			.margin(none, none, 2px, 0);
			.text-align;
			cursor: pointer;
			.line-height(2.5);
		}
	}
}