/************************Sliders*************************/
.slider-room{
	.size(100%, auto, none);
	ul{
		.padding(0,0,0,0);
		.margin(none, 0, none, none);
		li{
			.relative;
			.slider-content{
				.size(100%, auto, none);
				.absolute(absolute, 99, 40%, none);
				p{
					.text-align;
					.p(36px, rozha-one, white);
					.margin(0,0,0,0);
					.line-height(1);
				}
			}
			.wrapper-room-slider{
				.size(100%, 100%, black);
				.absolute(absolute, 9, 0, 0);
				.opacity(0.5);
			}
		}
	}
}

span.line{
	.size(80px, 3px, none);
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: inline-block;
	vertical-align: middle;
}

.sort{
	.size(100%, auto, #a90a0a);
	
	ul{	
		.float;
		.padding(30px, 35px, 0, none);
		.margin(none, 0, none, none);
		li{
			.float;
			a{
				.p(15px, lato-regular, white);
			}
		}
		li::after{
			content:"\f101";
			font-family: "fontawesome";
			.padding(none, none, 10px, 10px);
			color: white;
		}
		li:last-child::after{
			content: '';
		}
		}
	.sort-by{
		p{
			.float;
			.padding(30px, none, none, none);
			.p(15px, lato-regular, white);
		}
		.cs-select{
			.size(60%, 35px, white);
			.margin(18px, none, 15px, none);
			.relative;
			span{
				.padding(10px, 10px, 15px, none);
			}
			.cs-placeholder{
				.p(14px, lato-regular, #aaaaaa);
			}
			.cs-options{
				span{
					.padding(none, none, 15px,30px);
				}
				ul{
					li{
						.p(14px, lato-regular, #aaaaaa);

					}
				}
			}
		}
	}	
}