/************************Reviews Less*************************/

.review{
	.size(100%, auto, url('../images/background-rate.png') no-repeat center);
	.padding(70px, 80px, none, none);
	background-size: cover;
	background-attachment: fixed;
	.review-top{
		p{
		.margin(0, 0, 0, 0);
		.text-align;
	}
		h1{
		.margin(0,0,0,0);
		.text-align;
		.p(36px, rozha-one, black);
		.padding(none, 50px, none, none);
		span.line{
			.size(80px, 3px, none);
			border-top: 1px solid #dddddd;
			border-bottom: 1px solid #dddddd;
			display: inline-block;
			vertical-align: middle;
		}
	}
	}
}

.review-video{
	img{
		width: 100%;
	}
	.video {
		.relative;
		p{
			.size(100px, 100px, none);
			.border-radius(50%);
			.border(1px, solid, white);
			.absolute(absolute, 1, 0, 0);
			bottom: 0;
			right: 0;
			.p(60px, Arial, white);
			.text-align;
			.line-height(1.6);
			margin: auto;
			a{
				color: white;
			}
			a:hover{
				color: white;
			}
		}
	}
	.margin(none, 35px, none, none);
	
}

p.client-name{
		.p(16px, rozha-one, black);
		.padding(15px, none, none, none);
}

p.date{
	.p(14px, lato-regular, #eeb26f);
}

.comment{
	.relative;
	p{
		.size(100%, auto, white);
		.padding(18px, 45px, 20px, 30px);
		.text-align(left);
		border: 1px solid #dddddd;
		.margin(none, 0, none, none);
	}
}



.comment-in{
	.margin(none, 25px, none, none);
}	

.comment::before{
	content:'';
	.absolute-bottom(absolute, 0, -20px, 0);
	.size(0, 0, none);
	display: block;
    border-style: solid;
    border-width: 21px 15px 0 0;
    border-color: #dddddd transparent transparent transparent ;  
}

.comment::after{
	content:'';
	.absolute-bottom(absolute, 0, -17px, 1px);
	.size(0, 0, none);
	display: block;
    border-style: solid;
    border-width: 21px 15px 0 0;
    border-color: #ffffff transparent transparent transparent ; 
}

.clear{
	clear: both;
}

.all-review {
	p{
		.size(50%, 50px, #ee9b29);
		.text-align;
		a{
			.p(16px, lato-bold, white);
			display: block;
			.padding(10px, 10px, none, none);
		}
	}
}

