/************************SLIDER INDEX*************************/
.slider-index{
	.size(100%, auto, none);
	.relative;
	
}


.slider-index ul{
	.padding(none, none, 0, none);
	.margin(none, 0, none, none);
}

.slider-index ul li img{
	width: 100%;
}

.slider-index ul li{
	.relative;
}

.slider-in{
	position: absolute;
	top: 35%;
	width: 100%
}


.slider-in p{
	.text-align;
	.p(48px, rozha-one, white);
	.margin(none, 0, none, none);
	.line-height(1);
}



.slider-redbox {
	.absolute-bottom(absolute, 999, 0, none);
	.size(100%, auto, #be0c0c);
	.padding(20px, 20px, none, none);
	.opacity(0.9);
}
.slider-redbox select{
	.size(100%, 40px, white);
	border: none;
	.p(15px, lato-regular, black);
	.padding(none, none, 5px, none);
}

.slider-redbox input[type='submit']{
	.size(100%, 40px, #ee9b29);
	border:none;
	.p(16px, lato-bold, white);
}

.slider-redbox input[type='text']{
	.size(100%, 40px, white);
	border:none;
	.padding(none, none, 15px, none);
}

.slider-redbox ::-webkit-input-placeholder{
	font-size: 15px; 
	color:black;
	font-family: lato-regular;
	
}


.redbox{
	.padding(0,0,0,0)!important;
}

.arrive, .arrow {
	.relative;
}

.arrive::before{
	content: "\f073";
	font-family: "fontawesome";
	position: absolute;
	top: 10px;
	right: 30px;
	background-color: white;
	z-index: 99;
}

.arrow::before{
	content: "\f107";
	font-family: "fontawesome";
	position: absolute;
	top: 10px;
	right: 22px;
	background-color: white;
	z-index: 99;
	width: 10px;
}

