<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-md-9">
              <div class="owl-carousel3 shared-room">
                  <div class="item">
                      <img src="images/shared-room.png">
                  </div>
                  <div class="item">
                      <img src="images/shared-room.png">
                  </div>
                  <div class="item">
                      <img src="images/shared-room.png">
                  </div>
              </div>
              <div class="info-room5">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-9">
                          <div class="info-room5-in">
                              <h1>Room for 2-4 persons with shared bathroom</h1>
                              <p>Group Choice</p>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                          <div class="price-room">
                              <p>$</p>
                              <p>100<span> /night</span></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-room5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod. A ballet dancer wins the lead in “Swan Lake” and is perfect for the role of the delicate White Swan – Princess Odette – but slowly loses her mind as she becomes more and more like Odile, the Black Swan. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
              </div>
              <div class="service-room5">
                  <div class="owl-carousel4">
                      <div class="item">
                          <img src="images/wifi.png">
                          <p>Free Wi-Fi</p>
                      </div>
                      <div class="item">
                          <img src="images/bell.png">
                          <p>Quick Services</p>
                      </div>
                      <div class="item">
                          <img src="images/pc.png">
                          <p>Guest PC</p>
                      </div>
                      <div class="item">
                          <img src="images/map.png">
                          <p>city map</p>
                      </div>
                  </div>
              </div>
              <div class="booking-room5">
                  <a href="#">Booking now</a>
              </div>
            </div>