/************************REPONSIVE*************************/

//max width 1024px
@media (max-width: 1024px){
	.social-header p {
		font-size: 15px;
	}

	.social-header ul li {
		margin-right: 12px;
	}


	.phone-header p {
		font-size: 15px;
	}

	ul.icon-in li {
		margin-right: 19px;
	}

	.content-term  {
		p:nth-child(2){
			padding-top: 10px!important;
		}
	}

	.sort .sort-by .cs-select{
		margin-left: 5px!important;
	}
}



//max width 768px
@media (max-width: 768px){
	.header-mid ul li {
		margin-right: 40px;
	}

	.select {
		padding-bottom: 0;
	}

	.slider-redbox {
		position: inherit!important;
		input[type='text'], select{
			.margin(none, 10px, none, none);
		}
		input[type='submit']{
			.margin(none, none, 15px, none);
		}
	}


}

//max width 480px

@media(max-width: 480px){

	.info-room5 .price-room {
	    float: none!important;
	}

	span.line {
		display: none!important;
	}
	
	.slider-in p{
		font-size: 22px!important;
	}

	.social-header{
		transform: translateX(-80%);
		-webkit-transition: 0.35s;
		position: fixed;
		z-index: 999;
		top: 15px;
		left: 0;
		width: 70%;
		height: auto;
		background: url('../images/gear.gif') no-repeat right;
		background-color: white; 
		border-radius: 0 10px 10px 0;
	}

	.social-header:hover{
		transform:translateX(0);
	}

	.header-mix{
		transform: translateX(-80%);
		-webkit-transition: 0.35s;
		position: fixed;
		z-index: 999;
		top: 70px;
		left: 0;
		width: 70%;
		height: auto;
		background: url('../images/gear.gif') no-repeat right;
		background-color: white; 
		border-radius: 0 10px 10px 0;
	}

	.header-mix:hover{
		transform:translateX(0);
	}

	.header-mid ul  {
		text-align: inherit;
		width: 100%;
		height: auto;
		background: white;
	}

	.header-mid ul li{
		display: inherit;
		text-align: center;
		width: 100%;
	}
}


//max width 414px
@media (max-width: 414px){

	

	.content-term {
		p:first-child{
			padding-top: 30px!important;
		}

		p:nth-child(2){
			font-size: 25px!important;
			padding-bottom: 0!important;
		}

		p:nth-child(4){
			padding-bottom: 20px!important;
		}

		p:last-child{
			height: 40px!important;
			a{
				padding-top: 6px!important;
			}
		}
	}
		
}