/************************SIDE-BAR*************************/

.side-bar{
	.size(100%, auto, none);
	.text-search{
		.relative;
		input[type='text']{
			.size(100%, 50px, none);
			.border(1px, solid, #eeeeee);
			.padding(none, none, 15px, none);
			.p(13px, lato-bold, #aaaaaa);
		}
		.submit-search{
			.absolute-right(absolute, 9, 15px, 15px);
			input[type='submit']{
				.size(14px, 14px, url('../images/search.png') no-repeat center);
				border: none;
			}
		}
	}

	.menu-bar{
		.margin(12px, 45px, none, none);
		ul{
			.padding(0,0,0,0);
			.margin(0, 0, 0,0);
			li{
				.size(100%, auto, #3f0303);
				border-bottom: 1px solid black;
				.padding(30px, 30px, none, none);
				a{
					.p(14px, lato-bold,white);
					.padding(30px, 30px, 25px, 90px);
				}
			}
			li:last-child{
				border-bottom: 1px solid #3f0303;
			}
			li:hover{
				background-color: #ee9b29;
				border-bottom: 1px solid #ee9b29;
				transition: 0.35s;
			}
		}
	}

	.border-bar{
		.size(100%, 3px, none);
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
	}

	.slider-popular{
		.margin(20px, none, none, none);
		h1{
			.margin(0, 35px, 0, 0);
			.p(20px, rozha-one, black);		
		}
		ul{
			.padding(none, none, 0, none);
			.margin(none, 0, none, none);
			li{
				border-bottom: 1px solid #eeeeee;
				.margin(none, 10px, none, none);
				img{
					width: inherit;
					transform-style: inherit;
				}
				p:first-child{
					.float;
				}
				p.title-room{
					.padding(none, none, 70px, none);
					.margin(none, 0, none, none);
					.p(15px, rozha-one, black);
				}
				.price-popular{
					.padding(none, none, 70px, none);
					p:first-child{
						.p(18px, rozha-one, #a90a0a);
					}
					p:last-child{
						.p(25px, rozha-one, #a90a0a);
						span{
							.p(15px, lato-regular, #878787);
						}
					}
				}
			}

			li:last-child{
				border-bottom: none;
			}
		}
	}
}

.clear{
	clear: both;
}