<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-md-4">
                        <div class="content-in">
                            <div class="img-room">
                                <a href="#">
                                    <img src="images/room1.png" alt="room1">
                                    <div class="square"></div>
                                    <div class="info-room">
                                        <p>$</p>
                                        <p>100</p>
                                        <p>/night</p>
                                    </div>
                                </a>
                            </div>
                            <div class="content-room">
                                <p>12 Bed Mix Dorm</p>
                                <p>Group Choice</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel lectus sed diam cursus euismod.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="border-content">

                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <p><i class="fa fa-angle-right" aria-hidden="true"></i></p>
                    <p><i class="fa fa-angle-left" aria-hidden="true"></i></p>
                </div>
            </div>