<div class="slider-room flexslider">
	<ul class="slides">
		<li>
			<img src="images/03-03Columns.png">
			<div class="wrapper-room-slider"></div>
			<div class="slider-content">
				<p><img src="images/crown-rate.png"></p>
				<p><span class="line"></span> Room(3 colum) <span class="line"></span></p>
			</div>
		</li>
		<li>
			<img src="images/03-03Columns.png">
			<div class="wrapper-room-slider"></div>
			<div class="slider-content">
				<p><img src="images/crown-rate.png"></p>
				<p><span class="line"></span> Room(3 colum) <span class="line"></span></p>
			</div>
		</li>
	</ul>
</div>
<div class="sort">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Pages</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4" style="float:right; "> 
				<div class="row">
					<div class="sort-in">
						<div class="col-xs-12 col-sm-12 col-md-7">
						<div class="sort-by">
							<p>Sort By</p>
							<select class="cs-select cs-skin-elastic">
								<option value="" disabled selected>Default</option>
								<option value="france">Default</option>
								<option value="brazil">Ascending</option>
								<option value="argentina">Descending</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5">
						<div class="sort-by show">
							<p>Show</p>
							<select class="cs-select cs-skin-elastic">
								<option value="" disabled selected>9</option>
								<option value="france">3</option>
								<option value="brazil">6</option>
								<option value="argentina">9</option>
							</select>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>