/************************CONTENT BODY ROOM*************************/

.shared-room{
	.relative;
	overflow: hidden;
	display: block;
	.owl-controls{
		.absolute(absolute, 9, 50%, 0);
		.size(100%, auto, none);
		.owl-prev{
			transform:translateX(-40px);
			transition:0.35s;
			display: inline;
			float: left;
			.size(35px, 35px, white);
			p{
				.text-align;
				.line-height(2.5);
			}
		}
		.owl-next{
			transform:translateX(40px);
			transition:0.35s;
			display: inline;
			float: right;
			.size(35px, 35px, white);
			p{
				.text-align;
				.line-height(2.5);
			}
		}
	}
}

.shared-room:hover{
	.owl-next{
			transform:translateX(-25px);
			
		}
	.owl-prev{
			transform:translateX(25px);
			
		}
}

.info-room5{
	.padding(30px, 20px, none, none);
	border-bottom: 1px solid #eeeeee;
	.info-room5-in{
		h1{
			.margin(0,0,none,none);
			.p(26px, rozha-one, black);
		}
		p{
			.p(15px, lato-regular, #ed9a28);
		}
	}
	.price-room{
		.float(right);
		p{
			.float;
		}

		p:first-child{
			.p(28px, rozha-one, #a90a0a);
			.line-height;
		}
		p:last-child{
			.line-height(1);
			.p(54px, rozha-one, #a90a0a);
			span{
				.p(15px, lato-regular, #878787);
			}
		}
	}
}

.content-room5{
	.padding(50px, 60px, none, none);
	p{
		.p(14px, lato-regular, #878787);
	}
}

.service-room5{

	.item{
		.padding(none, none, 30px, 30px);
	}

	img{
		width: inherit!important;
		transform-style:inherit!important;
		margin: 0 auto;
	}
	p{
		.text-align;
		.line-height(3);
		.p(15px, rozha-one, black);
	}

	.size(100%, auto, #fcfcfc);
	.padding(80px, 80px, none, none);

	.relative;
	overflow: hidden;
	display: block;
	.owl-controls{
		.absolute(absolute, 9, 50px, 0);
		.size(100%, auto, none);
		.owl-prev{
			transform:translateX(-40px);
			transition:0.35s;
			display: inline;
			float: left;
			.size(35px, 35px, none);
			.border(1px,solid,#dddddd);
			p{
				.text-align;
				.line-height(2.5);
			}
		}
		.owl-next{
			transform:translateX(40px);
			transition:0.35s;
			display: inline;
			float: right;
			.size(35px, 35px, none);
			.border(1px,solid,#dddddd);
			p{
				.text-align;
				.line-height(2.5);
			}
		}
	}
}

.service-room5:hover{
	.owl-next{
			transform:translateX(-20px);
			
		}
	.owl-prev{
			transform:translateX(20px);
			
		}
}

.booking-room5{
	.size(160px, 50px, url('../images/arrow.png') no-repeat 135px 15px);
	background-color: #ee9b29;
	.text-align;
	.margin(30px, 30px, none, none);
	a{
		.p(16px, lato-bold, white);
		.padding(10px, 10px, none, none);
		display: block;
	}

	a:hover{
		.p(16px, lato-bold, white);
	}
}